@import '../../../theme/extend'; 
.content{
    display: flex;
    flex-direction: column;
    background-color: var(--ion-color-light);
    justify-content: center;
    width: 90vw;
    align-items: center;
    margin: 1rem auto;
    border-radius: 15px;
    padding: 1rem ;
    width: 100%;
    .video{
        direction: ltr;
        padding: 1rem;
        // flex: 1 0 5%;
    }

    .text{

        // direction: ltr;
        line-height: 2;
        text-align: start;
        height: 100%;
        width: 100%;
        // background-color: violet;
        // flex: 1 0 90%;
        min-height: 300px;
        padding: 1rem;
        padding: 1rem;
        color: var(--ion-text-color);
        // ion-text{
        //     line-height: 2;
        // }
    }
    
}