
<ion-header class="ion-no-border">
  
  <ion-toolbar color="grammar-background">
    <ion-buttons   slot="start">
      <!-- <ion-button  >
          <ion-icon  slot="icon-only" [name]="'arrow-back-outline'"></ion-icon>
      </ion-button> -->
  
      <ion-back-button
      [defaultHref]="'home/grammar'"
      [text]=""
      [icon]="'arrow-back-outline'">
  </ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
  

</ion-header>



<ion-content>
  <ion-label class="ion-padding ion-margin-top"> :لیست دروس</ion-label>
  <ion-list  > 
    <app-sectionlist  *ngFor="let item of data " [data]="item" [type]="'grammar'" ></app-sectionlist>
    <app-sectionlist   *ngIf="(!data||data.length==0)"  [loading]="loading"  ></app-sectionlist>
    <!-- <ng-template *ngIf="loading" > 
      <app-sectionlist   *ngFor="let domy of ' '.repeat(4).split('')"  [loading]="loading"  ></app-sectionlist>
    </ng-template> -->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="لطفا صبر کنید...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>