<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
     
      <ion-icon name="home"></ion-icon>
      <ion-label>خانه</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dictionary">
      <ion-icon src="assets/img/baseline-shopping_cart-24px.svg" ></ion-icon>
      <ion-label>دیکشنری</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="leitner">
      <ion-icon name="bulb-sharp"></ion-icon>
      <ion-label>لایتنر</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shops">
      <ion-icon name="bag-handle-sharp"></ion-icon>
      <ion-label>خرید ها</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
      <ion-label>بیشتر</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>