@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/iransansMobileFonts/IRANSansMobile_UltraLight.otf') format("opentype");
  }
  
  
  
  @font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/iransansMobileFonts/IRANSansMobile_Light.otf') format("opentype");
  }
  
  
  
  @font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/iransansMobileFonts/IRANSansMobile.otf') format("opentype");
  }
  
  
  
  @font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/iransansMobileFonts/IRANSansMobile.otf') format("opentype");
  }
  
  
  
  @font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/assets/fonts/iransansMobileFonts/IRANSansMobile.otf') format("opentype");
  }
  
  
  
  @font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/iransansMobileFonts/IRANSansMobile.otf') format("opentype");
  }
  
  
  
  @font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/iransansMobileFonts/IRANSansMobile_Medium.otf') format("opentype");
  }
  
  
  
  @font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/iransansMobileFonts/IRANSansMobile_Bold.otf') format("opentype");
  }
  
  
  @font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/assets/fonts/iransansMobileFonts/IRANSansMobile_Black.otf') format("opentype");
  }