ion-header{
    ion-toolbar{
        --background: #F6F6F6;
        height: 60px;
         .title{
        font-size: 1.6rem;
        color: #000000;
        font-weight: 700;
        display: block;
        // padding: 10px 0;
    }
    .sub-title{
        font-size: 1.2rem;
        color: #8E8E93;
        font-weight: 100;
        display: block;
        padding: 10px 0;
    }
    ion-avatar{
        width: 50px;
        height: 50px;
    } 
    ion-icon {
        color: #007AFF;
        font-size: 2.5rem;
        font-weight: 900;
    
    }
    }
  
}
ion-content{
    // ion-list{
        height: 100%;
        --background: url('/assets/img/backChat.png');
     
        padding: 1rem;
        // overflow-y:scroll ;
        ion-item{ 
            overflow: visible;
             margin: 5px 0;
             width: 80%;
             max-width: 300px;;
             --background: transparent;
            .back_chat{
                width: 80%;
                max-width: 300px;;

                background-color: #D9FDD3;
                border-radius: 8px;
                color: #000000;
                // min-height: ;
                  ion-grid{
                    .date-row{
                        margin-top: -20px;
                        
                        .date{
                            font-size: 1.2rem;
                            color: rgba(0, 0, 0, 0.410);
                        }
                        ion-icon{
                            color: #8696A0;

                        }
                        .read-icon{
                            color: #5BC1E9;
                        }
                    }

               
                    p{
                        max-width: 300px;;

                    }
                }
            }
         

        }
        .user{
            .back_chat:before{
                content: "";
                position: absolute;
                background: #d9fdd3;
                width: 15px;
                height: 30px;
                top: 1.5px;
                right: 1px;
                transform: rotate(45deg);
               
            
            }

        }
        .admin{
            direction: ltr;
            .back_chat:before{
                content: "";
                position: absolute;
                background: #FFFFFF;
                width: 11px;
                height: 30px;
                top: 0.5px;
                left: 4px;
                transform: rotate(-45deg);
               
            
            }
            ion-item{ 
                background: #FFFFFF;
                border-radius: 8px;
                direction: rtl;
                margin: 5px;
                .back_chat{
                    border-radius: 8px;
                    background: #FFFFFF;
 

                }

            }
        }
    // }
}
ion-footer{
    ion-toolbar{
    
        min-height: 90px;
        ion-grid{
            margin-bottom: 20px;
              ion-textarea{
            --background: #FFFFFF;
            border-radius: 15px;
            padding: 3px;
            max-height: 90px;
              }
        ion-buttons{
            height: 100%;
            width: 100%;

            ion-icon{
                transform: rotate(180deg);
            }
        }
        }
      
    }

}