@import "~swiper/css";
@import "~swiper/css/pagination";
@import '../../../theme/extend';
.content {
    width: 100%;
    height: 100%;
    // max-width: 300px;
    max-width: 80vw;
    // display: flex;
    flex-direction: column;
    //! overflow-y: scroll;
    display: flex;
    padding: 0 5px;
    .header-card {
        width: 100%;
        height: 100%;
        background-color: var(--ion-color-light);
        flex: 0 0 10%;
        // border-radius: 15px;
        margin-bottom: 5px;
        @extend %box-shadow-1;
        margin: 5px 0;
        border-radius: 15px;
        ion-card {
            // box-shadow:native ;
            box-shadow: none !important;
            width: 100%;
            height: 85%;
            margin: 0;
            padding: 1rem 0;
            text-align: center;
            line-height: 2;
            ion-card-title {
                font-size: 2.6rem;
            }
            ion-card-subtitle {
                font-size: 1.4rem;
            }
            ion-card-content {
                padding: 0;
                ion-button {
                    --padding-end: 20px;
                    --padding-start: 20px;
                    height: auto;
                    margin-bottom: 0;
                    --border-width: 0;
                }
            }
            span {
                font-size: 1.6rem;
                color: var(--ion-color-medium);
            }
        }
        .icons {
            display: flex;
            justify-content: space-between;
            bottom: 30px;
            position: relative;
            // position: absolute;
            .sound {
                // right: 3px;
                flex-grow: 1;
            }
            .add {
                margin: 0 5px;
                display: flex;
                // align-items: flex-start;
                // justify-self: end;
                justify-content: start;
                flex-grow: 7;
            }
            .back-icon {
                cursor: pointer;
                @extend %icon-desine-1
            }
        }
    }
    .pages {
        flex: 2 0 90%;
        .page {
            //  min-height:347px;
            // min-height: 210px;
            padding-bottom: 15px;
            width: 100%;
            border-radius: 15px;
            @extend %box-shadow-1;
            overflow: hidden;
            background-color: var(--ion-color-light);
            // background-color: rgb(70, 184, 230);
            // margin: 1rem 0;
            margin-bottom: 1rem;
            .meanings {
                // background-color: var(--ion-color-light) !important;
                // background-color: transparent;
                // min-height: 20%;
                min-height: 60px;
                padding-top: 1rem;
                ion-item {
                    --background: transparent;
                    align-items: baseline;
                    ion-badge {
                        --padding-end: .8rem;
                        --padding-start: .8rem;
                        --padding-top: .8rem;
                        --padding-bottom: .8rem;
                        font-size: 1.6rem;
                        border-radius: 50%;
                        width: 3rem;
                        height: 3rem;
                        text-align: center;
                        // margin-bottom: 60px;
                        // padding: 5px;
                        margin-inline-end: 10px;
                        margin-block: 0;
                        min-height: 26px;
                        min-width: 26px;
                        // height: auto;
                        // width: auto;
                    }
                }
            }
            .Other-modes {
                // height: 20%;
                // min-height: 10%;
                min-height: 48px;
                width: 100%;
                background: transparent;
                padding: 10px;
                direction: ltr;
                ion-title {
                    background: var(--ion-background-color);
                    padding: 1rem;
                    font-size: 1.7rem;
                    color: var(--ion-color-medium-shade);
                }
                .Other-modes-cards {
                    background-color: var(--ion-color-light);
                    // min-height: 100%;
                    min-width: 100%;
                    min-height: 85px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: start;
                    justify-content: space-around;
                    .Other-modes-card {
                        min-height: 62.57px;
                        min-width: 95.37px;
                        background-color: var( --ion-color-vocabulary-background);
                        margin: 0.5rem;
                        // flex-grow: 1;
                        border-radius: 15px;
                        ion-text {
                            text-align: center;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-content: center;
                            justify-content: center;
                            align-items: center;
                            ion-label {
                                padding: .3rem;
                                display: block;
                            }
                            span {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .examples {
                // height: 10%;
                min-height: 130px;
                width: 100%;
                // background-color: var(--ion-color-light);
                color: #414141;
                ion-title {
                    background: var(--ion-background-color);
                    padding: 1rem;
                    font-size: 1.7rem;
                    color: var(--ion-color-medium-shade);
                }
                ion-text {
                    margin: 0.5rem 0;
                    line-height: 2;
                }
                ion-item-group {
                    background-color: var(--ion-color-light);
                }
                ion-list {
                    direction: ltr;
                    margin: 0;
                    padding: 0;
                    ion-item {
                        --background: var(--ion-color-light);
                        button {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: transparent;
                            // margin: 0 1rem;
                            padding: .5rem;
                            ion-icon {
                                width: 20px;
                                height: 20px;
                                //  margin: 0 .5rem 0 2rem;
                                // margin-inline-end: 3rem;
                            }
                        }
                    }
                }
            }
            .spend-verb {
                min-height: 190px;
                width: 100%;
                ion-title {
                    background: var(--ion-background-color);
                    padding: 1rem;
                    font-size: 1.7rem;
                    color: var(--ion-color-medium-shade);
                }
                .spend-verb-cards {
                    background-color: var(--ion-color-light);
                    // min-height: 100%;
                    min-width: 100%;
                    min-height: 148px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: start;
                    justify-content: space-around;
                    .spend-verb-card {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 42.73px;
                        width: 137px;
                        background-color: var(--ion-color-light);
                        margin: 0.5rem;
                        // flex-grow: 1;
                        border-radius: 15px;
                        @extend %box-shadow-1;
                        ion-text {
                            padding: 7px 0;
                            ion-label {
                                padding: .3rem;
                                // display: block;
                            }
                        }
                    }
                }
            }
            .usage {
                // margin-inline-start: 20px;
                line-height: 2;
                opacity: .7;
            }
            .text {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.content::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.content::-webkit-scrollbar-thumb {
    background-color: var(--ion-color-tertiary);
    border-radius: 10px;
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent)
}

.ripple-parent {
    position: relative;
    overflow: hidden;
}

.in-leitner {
    color: #FFD700 !important;
}

span {
    &.translated-box {
        font-size: 14px;
        color: lighten($color: #000000, $amount: 45%);
    }
}

button {
    &.ion-activatable {
        margin-inline-end: 14px;
    }
}